$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$content-width: 1000px;
$desktop-padding: 20px;
$tablet-padding: 60px;
$mobile-padding: 25px;


$reserve-font-family: "Arial", sans-serif;
$font: "Assistant", $reserve-font-family;


$s02: 0.2s;

$footer: #f3f3f3;
$purple: #7632a2;
$blue: #2a96e9;
$blue-button: #279ced;