@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local("Assistant ExtraLight"),
    local("Assistant-ExtraLight"),
    url("../font/Assistant-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Assistant Light"),
    local("Assistant-Light"),
    url("../font/Assistant-Light.woff") format("woff");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Assistant Regular"),
    local("Assistant-Regular"),
    url("../font/Assistant-Regular.woff") format("woff");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Assistant Semibold"),
    local("Assistant-Semibold"),
    url("../font/Assistant-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Assistant Bold"),
    local("Assistant-Bold"),
    url("../font/Assistant-Bold.woff") format("woff");
}
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local("Assistant Extrabold"),
    local("Assistant-Extrabold"),
    url("../font/Assistant-Extrabold.woff") format("woff");
}
