.decor-block {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 153px 17px 0 17px;

    &__background {
        max-width: 1844px;
        width: 100%;
        height: auto;
        position: absolute;
        top: -16.3vw;
        right: -1px;
    }

    &__terms {
        max-width: 1088px;
        width: 100%;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
        border-radius: 48px;
        background-color: white;
        color: black;
        margin: 32px auto 90px auto;
        position: relative;
        z-index: 2;
        padding: 42px 83px 30px 83px;

        & h1 {
            font-size: 42px;
            font-weight: 700;  
            text-align: center;
            margin-bottom: 30px;
        }

        & p {
            margin-top: 0;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 25px;
        }
 
    }
}

@media (max-width: 1440px) {
    .decor-block__background {
        top: -30px;
    }
}

@include mobile {
    .decor-block {
        padding-top: 90px;
    }
    .decor-block__background {
        top: -30px;
        width: calc(100% + 30px);
    }

    .decor-block__terms {
        box-shadow: 0 -24px 24px rgba(0, 0, 0, 0.08);
        margin-top: 0;
        padding: 30px 23px 14px 27px;
        margin-bottom: 0;

        & h1 {
            font-size: 24px;
            margin-bottom: 45px;
        }

        & p {
            margin-bottom: 27px;
        }
    }
}