.decor-block {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 153px 17px 0 17px;

    &__background {
        max-width: 1844px;
        width: 100%;
        height: auto;
        position: absolute;
        top: -16.3vw;
        right: -1px;
    }

    &__terms {
        max-width: 1088px;
        width: 100%;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
        border-radius: 48px;
        background-color: white;
        color: black;
        margin: 32px auto 90px auto;
        position: relative;
        z-index: 2;
        padding: 42px 83px 30px 83px;

        & h1 {
            font-size: 42px;
            font-weight: 700;  
            text-align: center;
            margin-bottom: 30px;
        }

        & p {
            margin-top: 0;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 25px;
        }
 
    }

    &__blog-list {
        position: relative;
        z-index: 1;
        margin-top: -10px;

        & ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1426px;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
        }

        & li {
            max-width: 674px;
            width: 49%;
            display: flex;
            margin-bottom: 3.8vw;
        }

        & h1 {
            text-align: center;
            color: white;
            font-size: 42px;
            margin-top: 0;
            margin-bottom: 66px;
        }
    }

    &__article {
        & h1 {
            display: none;
            font-size: 24px;
            text-align: center;
            margin-top: 98px;
            margin-bottom: 50px;
            position: relative;
            z-index: 1;
        }
    }

    &__article-wrapper {
        max-width: 1088px;
        margin: 32px auto 0 auto;
        background: white;
        text-align: right;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
        border-radius: 50px;
        position: relative;
        z-index: 1;
        margin-bottom: 100px;

        & h2 {
            font-size: 42px;
            margin-top: 0;
            margin-bottom: 27px;
        }

        & p {
            margin-top: 0;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 23px;
        }

        & div:first-child {
            border-top-left-radius: 49px;
            border-top-right-radius: 49px;
            overflow: hidden;
            display: flex;
            flex-direction: center;
            & img {
                border-top-left-radius: 48px;
                border-top-right-radius: 48px;
                margin-top: -1px;
                width: 100%;
                height: auto;
            }
        }

        & div:last-child {
            padding: 57px 84px 23px 84px;
        }
    }

    &__sucsess {
        width: 100%;
        max-width: 1019px;
        margin: 0 auto;
        border-radius: 48px;
        position: relative;
        z-index: 1;
        background: white;
        padding: 163px 25px 44px 25px;
        box-shadow: 0 -24px 24px rgba(0, 0, 0, 0.08);
        background: url('../img/sucsess.png') no-repeat center 75px;
        background-color: white;
        min-height: 670px;
        text-align: center;

        & h1 {
            font-size: 26px;
            margin-bottom: 25px;
        }

        & p {
            margin-top: 0;
            font-size: 18px;
            margin-bottom: 100px;
        }

        & a {
            width: 145px;
            font-size: 18px;
            margin: 0 auto 0 auto;
        }
    }
}

@media (max-width: 1440px) {
    .decor-block__background {
        top: -30px;
    }
}

@media(max-width: 1350px) {
    .decor-block__blog-list {
        & li {
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 1150px) {
    .decor-block__blog-list {
        & ul {
            justify-content: center;
        }
        & li {
           width: 100%;
           max-width: 80%;
        }
    }
}

@media(max-width: 860px) {
    .decor-block__blog-list {
        margin-top: -50px;
        & li {
           max-width: 90%;
        }
    }
}

@include mobile {

    .decor-block__blog-list {
        padding-top: 98px;
        & h1 {
            font-size: 24px;
            color: black;
            margin-bottom: 35px;
        }

        & ul {
            margin-bottom: 0;
        }

        margin-top: 0;
        & li {
           max-width: 100%;
           margin-bottom: 25px;
        }
    }

    .decor-block {
        padding-top: 90px;
    }
    .decor-block__background {
        top: -30px;
        width: calc(100% + 30px);
    }

    .decor-block__terms {
        box-shadow: 0 -24px 24px rgba(0, 0, 0, 0.08);
        margin-top: 0;
        padding: 30px 23px 14px 27px;
        margin-bottom: 0;

        & h1 {
            font-size: 24px;
            margin-bottom: 45px;
        }
        & p {
            margin-bottom: 27px;
        }
    }

    .decor-block__article h1 {
        display: block;
    }
    .decor-block__article-wrapper{
        margin-bottom: 25px;
        & div:first-child {
            height: 45vw;
            max-height: 288px;
            position: relative;
            & img {
                position: absolute;
                height: 100%;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: auto;
            }
        }

        & div:last-child {
            padding: 28px 20px 18px 20px;
        }

        & h2 {
            font-size: 20px;
        }

        & p{
            font-size: 16px;
            line-height: 135%;;
        }
    }

    .decor-block__sucsess {
        box-shadow: none;
        padding-top: 177px;
        min-height: 200px;
        padding-bottom: 30px;
        position: relative;
        z-index: -1;

        & p {
            margin-bottom: 80px;
        }
    }
}

