.form {
    width: 100%;
    max-width: 1019px;
    margin: 0 auto;
    border-radius: 48px;
    position: relative;
    z-index: 1;
    background: white;
    padding: 100px 25px 44px 25px;
    box-shadow: 0 -24px 24px rgba(0, 0, 0, 0.08);
    background: url('../img/form/form-left.png') no-repeat 0 150px,
    url('../img/form/form-right.png') no-repeat 100% 180px;
    background-color: white;

    &__row {
        display: flex;
        justify-content: space-between;

        & div {
            width: 31.5%;
        }
    }

    &__column {
        width: 48%;
    }

    & div {
        position: relative;
        & p {
        display: none;
            position: absolute;
            z-index: 1;
            top: -60px;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
            width: auto;
            background: white;
            right: 5px;
            color: #363636;
            font-size: 14px;
            font-weight: 400;
            padding: 11px 15px;
            border-radius: 20px;

            &::after{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                bottom: -2px;
                left: 50%;
                transform: rotate(-45deg) translateX(-50%);
            }
        }
    }

    & h1 {
        text-align: center;
        margin-top: 0;
        position: relative;
        margin-bottom: 90px;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            width: 220px;
            height: 3px;
            background-image: linear-gradient(270deg, #782ea0 0%, #279ced 100%);
            bottom: -19px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    & form {
        width: 100%;
        max-width: 394px;
        margin: 0 auto;
        text-align: center;

        & input {
            width: 100%;
            border: 1px solid white;
            height: 64px;
            background-color: #f1f1f1;
            margin-bottom: 19px;
            font-family: $font;
            text-align: right;
            padding: 0 13px;
            color: #363636;
            font-size: 22px;
            font-weight: 400;

            &:active {
                outline: 1px solid $blue;
            }

            &:focus {
                outline: 1px solid $blue;
            }
        }

        & button {
            margin-top: 17px;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
            font-family: $font;
        }
    }

    &__login.error {
        & input {
            color: red;
        }

        & p {
            display: block;
        }
    }

    & textarea {
        font-family: $font;
        width: 100%;
        height: 175px;
        background-color: #f1f1f1;
        box-shadow: none;
        border: none;
        text-align: right;
        font-size: 22px;
        color: #363636;
        padding: 14px;
        margin-bottom: 38px;
        resize: none;

        &:focus {
            outline: 1px solid $blue;
        }

        &:active {
            outline: 1px solid $blue;
        }
    }

    &__email.error {
        & input {
            color: red;
        }

        & p {
            display: block;
        }
    }

    &__phone.error {
        & input {
            color: red;
        }

        & p {
            display: block;
        }
    }

    &__password.error {
        & input {
            color: red;
        }

        & p {
            display: block;
        }
    }

    &__password-repeat.error {
        & input {
            color: red;
        }

        & p {
            display: block;
        }
    }

    &__password-new.error {
        & input {
            color: red;
        }

        & p {
            display: block;
        }
    }

    & p {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-top: 28px;

        & a {
            font-weight: 700;
            color: #363636;
            text-decoration: none;
        }
    }

    &__alternative {
        display: flex;
        max-width: 480px;
        margin : 38px auto 0 auto;
        justify-content: space-between;
        & a {
            width: 48%;
            display: flex;
            justify-content: space-between;
            border: 1px solid #cecece;
            border-radius: 30px;
            height: 49px;
            align-items: center;
            padding-left: 11px;
            padding-right: 17px;
            color: #363636;
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
        }
    }

    &--width {
        max-width: 1285px;
        margin-bottom: 95px;

        & form {
            max-width: 844px;
        }
    }

    &--account {
        background: white;
        margin-bottom: 30px;

        & form {
            max-width: 815px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        
        & .form__submit {
            margin-top: 30px;
            width: 155px;
        }
    }
}

@include mobile {
    .form {
        padding-top: 51px;
        background: white;
        padding-bottom: 0px;

        &__row {
            flex-direction: column-reverse;

            & div {
                width: 100%;
            }
        }

        &__column {
            width: 100%;
        }

        &--width {
            padding-left: 38px;
            padding-right: 38px;
            margin-bottom: 55px;
        }

        & textarea {
            height: 272px;
            margin-bottom: 15px;
        }

        & h1 {
            font-size: 24px;
            margin-bottom: 80px;
        }

        & form {
            & button {
                margin-top: 8px;
            }
        }

        & p {
            margin-top: 47px;
            margin-bottom: 0;

            & a {
                text-decoration: none;
            }
        }

        &__alternative {
            flex-direction: column-reverse;
            width: 227px;
            margin-top: 20px;
            margin-bottom: 0;

            & a {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}