.info {
    padding-bottom: 170px;
    padding-top: 45px;
    & .wrapper {
        max-width: 1474px;
        padding: 0 27px;
        margin: 0 auto;
    }

    & h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
    }

    & p {
        margin-top: 0;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .info {
        margin-top: -30px;
        padding-top: 0;
        padding-bottom: 47px;
        & h2 {
            font-size: 16px;
        }

        & p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}