.order {
    width: 100%;
    max-width: 1019px;
    margin: 0 auto;
    border-radius: 48px;
    position: relative;
    z-index: 1;
    background: white;
    padding: 60px 25px 44px 25px;
    box-shadow: 0 -24px 24px rgba(0, 0, 0, 0.08);
    background-color: white;
    margin-bottom: 140px;

    &__steps {
        max-width: 327px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 66px;
    }

    & h1 {
        text-align: center;
        font-size: 26px;
        margin: 0 0 38px 0;
    }

    &__header-block {
        & p {
            font-size: 26px;
            font-weight: 700;
            text-align: left;
            padding: 0 110px;
        }
        & h1 {
            text-align: center;
            font-size: 26px;
            margin: 0;
            margin-top: -60px;
            margin-bottom: 35px;
        }
    }

    &__step {
        width: 48px;
        height: 48px;
        text-align: center;
        background: $grey;
        font-size: 22px;
        line-height: 48px;
        font-weight: 700;
        border-radius: 50%;

        &--active {
            color: rgba( 255, 255, 255, 0.2);
            font-size: 48px;
            background: url('../img/plane.svg') no-repeat center center;
            background-color: $blue;
        }

        &--prev {
            color: white;
            background: $blue;
        }
    }

    &__line {
        flex-grow: 1;
        height: 3px;
        background: $grey;

        &--active {
            background: $blue;
        }
    }

    &__list {
        width: 100%;
        text-align: center;
        border-left: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2;
        border-top: 1px solid #c2c2c2;
        border-collapse: collapse;

        & th {
            width: 25%;
            font-size: 22px;
            height: 45px;
            border-bottom: 1px solid #c2c2c2;
        }

        & td {
            width: 25%;
            font-size: 18px;
            vertical-align: middle;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #c2c2c2;

            & img {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                margin: 0 15px;
                vertical-align: middle;
            }

            &:nth-child(4) {
                text-align: right;
            }
        }

        &--payment {
            max-width: 646px;
            margin: 0 auto;
        }
    }


    &__button {
        margin: 0 auto;
        width: 167px;
       height: 51px;

        & img {
            margin-top: 2px;
            margin-right: 10px;
        }
    }

    &__total {
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 37px;
        margin-bottom: 19px;

        & span {
            font-weight: 700;
            font-size: 32px;
            margin-right: 10px;
        }

        &--payment {
            width:100%;
            max-width: 646px;
            border: 1px solid #c2c2c2;
            height: 79px;
            margin: 0 auto;
            margin-top: 19px;
        }
    }

    &__form {
        width: 100%;
        max-width: 832px;
        margin: 0 auto;

        & form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 45px;

            & h2 {
                font-size: 28px;
            }

            & label {
                display: block;
                font-size: 22px;
                padding-right: 5px;
                margin-bottom: 3px;
            }

            & div {
                position: relative;

                & p {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    top: -25px;
                    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
                    width: auto;
                    background: white;
                    right: 5px;
                    color: #363636;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 11px 15px;
                    border-radius: 20px;
        
                    &::after{
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background: white;
                        bottom: -2px;
                        left: 50%;
                        transform: rotate(-45deg) translateX(-50%);
                    }
                }
            }
            

            & input {
                width: 100%;
                border: 1px solid white;
                height: 64px;
                background-color: #f1f1f1;
                margin-bottom: 12px;
                font-family: $font;
                text-align: right;
                padding: 0 13px;
                color: #363636;
                font-size: 22px;
                font-weight: 400;
    
                &:active {
                    outline: 1px solid $blue;
                }
    
                &:focus {
                    outline: 1px solid $blue;
                }
            }

            & select {
                width: 48%;
                border: 1px solid $grey;
                box-shadow: none;
                height: 64px;
                margin-bottom: 12px;
                font-family: $font;
                text-align: right;
                padding: 0 13px;
                color: #363636;
                font-size: 22px;
                font-weight: 400;
                background: url('../img/select.svg') no-repeat 12px center;
                background-color: $grey;
    
                &:active {
                    outline: 1px solid $blue;
                }
    
                &:focus {
                    outline: 1px solid $blue;
                }
            }

            & input[type=radio]:checked + label {
                &::after {
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    right: 4px;
                    top: 7px;
                    background: $blue;
                    border-radius: 50%;;
                }
            }
        }
        &-name.error {
            & input {
                color: red;
            }
    
            & p {
                display: block;
            }
        }
    
        &-email.error {
            & input {
                color: red;
            }
    
            & p {
                display: block;
            }
        }
    
        &-phone.error {
            & input {
                color: red;
            }
    
            & p {
                display: block;
            }
        }
    
        &-number.error {
            & input {
                color: red;
            }
    
            & p {
                display: block;
            }
        }
    
        &-card.error {
            & input {
                color: red;
            }
    
            & p {
                display: block;
            }
        }
    }

    &__column {
        width: 48%;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & label {
            width: 100%;
        }

        &:first-of-type {
            justify-content: flex-end;
            padding-right: 5px;

            & div {
                margin-left: 20px;
                margin-top: 50px;
                margin-bottom: 26px;
            }

            & label {
                padding-right: 32px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 3px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #c2c2c2;
                    background: $grey;
                }
            }
        }
    }
    &__submit {
        margin: 40px auto 0 auto;
        width: 165px;

        & img {
            margin-right: 10px;
            margin-top: 2px;
        }
    }

}

@media(max-width: 1024px) {
    .order {
        &__wrapper-inner {
            width: 940px;
        }

        &__wrapper-out {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none; 
            &::-webkit-scrollbar { 
                width: 0; 
            }
        }
    }
}

@media(max-width: 767px) {
    .order {
        padding-top: 42px;
        margin-bottom: 0;
        padding-bottom: 30px;

        &__steps {
            padding: 0 17px;
            margin-bottom: 23px;
        }
        

        &__header-block {
            & p {
                display: none;
            }

            & h1 {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 26px;
            }
        }

        &__wrapper-inner {
            width: 700px;
        }
        
        &__list {
            & th {
                font-size: 18px;
                height: 37px;
            }

            & td {
                font-size: 14px;
                height: 41px;
                line-height: 41px;

                & img {
                    transform: scale(0.8) translateY(0);
                    margin: 0 5px;
                    line-height: 0;
                    vertical-align: middle;
                }
            }
        }

        &__total {
            margin-top: 30px;
        }
    }
}