.page-body {
  min-width: $mobile-width;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  font-family: $font;
  min-height: 100vh;
  color: #000000;
  text-align: right;
  // overflow: hidden;
}

